body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #4CAF50; /* Verde */
    overflow: hidden;
}

    nav a {
        float: left;
        display: block;
        color: black; /* Texto en negro */
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        nav a:hover {
            background-color: #45a049; /* Verde más oscuro al pasar el ratón */
            color: white; /* Texto en blanco al pasar el ratón */
        }
